.filmSelectButton {
  width: 9rem;
  font-weight: 900;
}

.filmTitle {
  font-weight: 900;
}

.filmDescription {
  margin-top: 1.5rem;
}

.swLogo {
  background: url('./assert/sw-logo.jpg') no-repeat center black;
  background-size: contain;
  height: 12rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.filmContent {
  padding: 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 15px lightgray;
}

.navLeft__items {
  flex-grow: 1;
}

.navLeft {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}


.navLeft__button {
  text-align: center;
}
